@media only screen and (max-width: 580px) {
  .home-grid {
    font-size: 150%;
  }

  .paintbrush {
    max-width: 15%;
  }
}

/* #top {
  background-image: url(images/sample-0002.jpg);
  background-size: 1200px 1200px;
} */

.paintbrush {
    width: 50%;
}

.contact-eddie-link {
  text-decoration: none;
  color: #0077e6;
}

.contact-eddie-link :hover {
  color: red;
  text-decoration: underline;
}

footer {
  text-align: center;
  width: 100%;
  height: 230px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #0077e6;
}
