/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear; }

/* line 12, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open:hover {
  opacity: 0.8; }

/* line 14, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: silver;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease; }

/* line 29, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9; }

/* line 34, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(2) {
  margin-top: 25px; }

/* line 36, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(3) {
  margin-top: 40px; }

/* line 38, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }

/* line 51, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

/* line 60, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:first-child {
  margin-top: 180px; }

/* line 62, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s; }

/* line 64, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s; }

/* line 66, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s; }

/* line 68, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s; }

/* line 70, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s; }

/* line 72, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px; }

/* line 82, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px; }

/* line 88, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(2) {
  overflow: visible; }

/* line 90, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg); }

/* line 96, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px); }

/* line 98, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54); }

/* line 107, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px); }

/* line 109, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned li {
  margin-right: 168px; }
