/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
* {
  margin: o; }

/* line 3, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
html, body {
  height: 100%;
  font-family: Verdana, sans-serif;
  color: #474747;
  line-height: 1.25; }

/* line 10, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
ul {
  list-style-type: none; }

/* line 14, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
a {
  text-decoration: none;
  color: black; }

/* line 19, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px; }
