/* line 3, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/_reset.css.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear; }

/* line 12, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open:hover {
  opacity: 0.8; }

/* line 14, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: silver;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease; }

/* line 29, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9; }

/* line 34, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(2) {
  margin-top: 25px; }

/* line 36, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.open span:nth-child(3) {
  margin-top: 40px; }

/* line 38, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }

/* line 51, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

/* line 60, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:first-child {
  margin-top: 180px; }

/* line 62, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s; }

/* line 64, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s; }

/* line 66, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s; }

/* line 68, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s; }

/* line 70, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s; }

/* line 72, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px; }

/* line 82, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px; }

/* line 88, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(2) {
  overflow: visible; }

/* line 90, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg); }

/* line 96, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px); }

/* line 98, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54); }

/* line 107, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px); }

/* line 109, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/hambuger.css.scss */
.oppenned li {
  margin-right: 168px; }

/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
#header {
  height: 170px;
  color: white;
  background-color: #0A0F18; }
  /* line 6, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .me-icon {
    margin: 0.5%;
    padding-left: 30px;
    float: left;
    clear: both; }
  /* line 13, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .me-icon:hover {
    opacity: 0.7; }
  /* line 17, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header #me-title {
    float: left;
    margin-top: 88px;
    margin-left: 10px;
    margin-bottom: 0; }
  /* line 24, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .github-icon {
    float: right;
    margin-top: 88px;
    margin-right: 10px; }
  /* line 30, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .github-icon:hover {
    opacity: 0.7; }
  /* line 34, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .twitter-icon {
    float: right;
    margin-top: 88px;
    margin-right: 10px; }
  /* line 40, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .twitter-icon:hover {
    opacity: 0.7; }
  /* line 44, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .email-icon {
    float: right;
    margin-top: 88px;
    margin-right: 10px; }
  /* line 50, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .email-icon:hover {
    opacity: 0.7; }
  /* line 54, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .resume-icon {
    float: right;
    margin-top: 88px;
    margin-right: 190px; }
  /* line 60, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/header.css.scss */
  #header .resume-icon:hover {
    opacity: 0.7; }

/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
footer {
  height: 300px;
  color: white;
  background-color: #1C222E; }
  /* line 15, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .opsis {
    padding-left: 40px;
    padding-top: 40px; }
  /* line 20, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .opsis:hover {
    opacity: 0.7; }
  /* line 24, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  /* line 34, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer #icon-group {
    position: absolute;
    left: 75%; }
  /* line 39, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .twitter-icon:hover {
    opacity: 0.7; }
  /* line 43, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .github-icon:hover {
    opacity: 0.7; }
  /* line 47, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .email-icon:hover {
    opacity: 0.7; }
  /* line 51, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer .resume-icon:hover {
    opacity: 0.7; }
  /* line 55, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer #footer-nav {
    position: absolute;
    left: 25%; }
  /* line 60, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer a {
    color: silver; }
  /* line 64, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/footer.css.scss */
  footer a:hover {
    color: black; }

/* line 1, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
* {
  margin: o; }

/* line 3, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
html, body {
  height: 100%;
  font-family: Verdana, sans-serif;
  color: #474747;
  line-height: 1.25; }

/* line 10, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
ul {
  list-style-type: none; }

/* line 14, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
a {
  text-decoration: none;
  color: black; }

/* line 19, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/main-main.css.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px; }

/* line 8, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/pages.css.scss */
#main {
  padding: 8%;
  background-color: #f2f2f2; }

/* line 14, /home/ed/workspace/middleman/edw-nestor.github.io/source/stylesheets/pages.css.scss */
#about-me {
  width: 55%; }
